<ng-template ngFor let-config [ngForOf]="configurator">
	<div class="container-fluid">
		<div class="row justify-content-center d-flex mt-4">
			<div name="carPicture" class="col-md-10 justify-content-center d-flex">
				<div id="carPictures" class="carousel slide" data-ride="carousel">
					<!-- The slideshow -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{{ config.mainPicture }}" alt="Los Angeles" />
						</div>
						<!-- <div class="carousel-item">
                    <img src="chicago.jpg" alt="Chicago">
                  </div>
                  <div class="carousel-item">
                    <img src="ny.jpg" alt="New York">
                  </div> -->
					</div>

					<!-- Left and right controls -->
					<a
						class="carousel-control-prev"
						href="#carPictures"
						data-slide="prev"
					>
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a
						class="carousel-control-next"
						href="#carPictures"
						data-slide="next"
					>
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
			</div>
		</div>
		<form #configForm="ngForm">
			<div class="row justify-content-center d-flex">
				<div class="col-md-5 justify-content-center d-flex">
					<div class="container justify-content-center d-flex">
						<h2 class="display-4">{{ config.modelName }}</h2>
					</div>
				</div>

				<div
					class="col-md-10 mt-2  mb-2 p-4 shadow-sm justify-content-left d-flex"
				>
					<div class="container justify-content-center d-flex">
						Гориво
					</div>

					<div class="container">
						<ng-template ngFor let-fuelType [ngForOf]="config.fuelType">
							<div class="form-check">
								<label class="form-check-label">
									<input
										type="radio"
										class="form-check-input"
										name="fuelTypeInput"
										value="{{ fuelType }}"
										id="{{ fuelType }}"
										required
										ngModel
									/>{{ fuelType }}
								</label>
							</div>
						</ng-template>
					</div>
				</div>

				<div
					class="col-md-10 mt-2 p-4 shadow-sm justify-content-left d-flex"
					*ngIf="configForm.value.fuelTypeInput !== ''"
				>
					<div class="container justify-content-center d-flex">
						Трансмисия
					</div>

					<div class="container">
						<ng-template ngFor let-transType [ngForOf]="config.transmission">
							<div class="form-check">
								<label class="form-check-label">
									<input
										type="radio"
										class="form-check-input"
										name="transTypeInput"
										value="{{ transType }}"
										id="{{ transType }}"
										required
										ngModel
									/>{{ transType }}
								</label>
							</div>
						</ng-template>
					</div>
				</div>
				<div
					class="col-md-10 mt-2 p-4 shadow-sm justify-content-left d-flex"
					*ngIf="configForm.value.transTypeInput"
				>
					<div class="container justify-content-center d-flex">
						Двигател
					</div>

						<div class="container" *ngIf="configForm.value.fuelTypeInput === 'petrol'">
							<ng-template ngFor let-engine [ngForOf]="config.petrolEngines">
								<div
									*ngIf="
										engine.engineTransmission ===
										configForm.value.transTypeInput
									"
								>
									<div class="form-check">
										<label class="form-check-label">
											<input
												type="radio"
												class="form-check-input"
												name="engineModel"
												value="{{engine.engineName}}"
												id="{{engine.engineName}}"
												required
												ngModel
											/>{{engine | json}}
										</label>
									</div>
								</div>
							</ng-template>
						</div>
						<div class="container" *ngIf="configForm.value.fuelTypeInput === 'diesel'">
							<ng-template ngFor let-engine [ngForOf]="config.dieselEngines">
								<div
									*ngIf="
										engine.engineTransmission ===
										configForm.value.transTypeInput
									"
								>
									<div class="form-check">
										<label class="form-check-label">
											<input
												type="radio"
												class="form-check-input"
												name="engineModel"
												value="{{engine.engineName}}"
												id="{{engine.engineName}}"
												required
												ngModel
											/>{{engine | json}}
										</label>
									</div>
								</div>
							</ng-template>
						</div>

				</div>
			</div>
		</form>
	</div>
</ng-template>
<!-- *ngIf="configForm.value.fuelTypeInput === 'diesel'" -->
