<div class="container-fluid">
	<div class="row m-5 border">
		<div class="col-1"></div>
		<div class="col-10">
			<div class="row border-bottom">
				<p class="mx-auto mt-4 p-2 h3">22/01/2020</p>
				<br />
				<p class="mx-auto h1">
					Мобилен шоурум на Ауди отвори врати до МОЛ Парадайз в столицата
				</p>

				<p class="justify">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>В мобилният шоурум на
					Ауди в София, който отвори врати до МОЛ Парадайз в столицата, е
					представен премиерния SUV с линия на Coupé: Audi Q3 Sportback. Новият
					модел съчетава силното излъчване и добрата пригоденост за всекидневна
					употреба на SUV със спортната елегантност и чевръстата управляемост на
					Coupé. Така този модел се превръща в първия компактен кросоувър в
					гамата на марката Audi.
				</p>
				<p class="justify">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Ексклузивното
					пространство e отворено за посетители всеки ден от 10.00 до 19.00
					часа, в събота от 10.00 - 16.00. Специално за посетителите на мобилния
					шоурум актуални оригинални аксесоари, произведени от дизайнерското
					подразделение на Audi Sport ще бъдат на преференциални цени.
				</p>

				<p class="justify">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Тестова флота от
					актуални модели е на разположение за всеки, който има желание да се
					увери в технологичното превъзходство на марката.
				</p>

				<div
					id="news1"
					class="carousel slide mb-3 mx-auto d-block"
					data-ride="carousel"
				>
					<!-- Indicators -->
					<ul class="carousel-indicators">
						<li data-target="#news1" data-slide-to="0" class="active"></li>
						<li data-target="#news1" data-slide-to="1"></li>
						<li data-target="#news1" data-slide-to="2"></li>
					</ul>

					<!-- The slideshow -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img
								class="d-block mx-auto"
								src="https://www.audi.bg/media/FullWidthImage_Component/20829_3830-content-577801/dh-1180-33d43f/1ec41862/1579696718/mem08249.jpg"
								alt="Audi Q2"
							/>
						</div>
						<div class="carousel-item">
							<img
								class="d-block mx-auto"
								src="https://www.audi.bg/media/FullWidthImage_Component/20829_3830-content-577805/dh-1180-33d43f/7d238ed3/1579696843/mem08262.jpg"
								alt="Audi Q3"
							/>
						</div>
						<div class="carousel-item">
							<img
								class="d-block mx-auto"
								src="https://www.audi.bg/media/FullWidthImage_Component/20829_3830-content-577808/dh-1180-33d43f/356793e5/1579696945/mem08266.jpg"
								alt="Audi Q5"
							/>
						</div>
					</div>

					<!-- Left and right controls -->
					<a class="carousel-control-prev" href="#news1" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#news1" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
            </div>
            <div class="row border-bottom">
				<p class="mx-auto mt-4 p-2 h3">29/11/2020</p>
				<br />
				<p class="mx-auto h1 d-block">
					Състезатели и тренировъчни екипи на БФСки с обновена флота автомобили от Audi
				</p>
					<ul>
                        <li>
                            Деветте нови автомобила Audi Q7, Q5, Q3 и A3 бяха предоставени в шоурума на марката, Порше София Запад, дни преди старта на състезателния сезон 2019/2020
                        </li>
                        <li>Десета поредна година състезателите разчитат на quattro моделите през целия зимен сезон.</li>
                    </ul>
				<p class="justify">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="font-weight-bold">София, 28 ноември 2019</span>   Вносителят на Ауди за България, фирма "Порше БГ" е официален партньор на БФСки от 2009. Българските звезди на снежните спортове Алберт Попов, Радослав Янков и Владимир Зографски получиха Audi Q5 40 TDI, 190 к.с. с ниво на оборудване Sport, в логичния за дисциплините им екстериорен цвят Glacier White Metallic.
				</p>

				<p class="justify">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Второтото поколение на бестселърът Audi Q5 се характеризира с пътно поведение, което съчетава няколко качества, считани по принцип за взаимно изключващи се - автомобилът е подчертано спортен и едновременно с това много комфортен благодарение на новото окачване. Audi Q5 впечатлява с изобилно място в пътническия салон и богати възможности за превозване на различни товари. Облегалките на задните места могат лесно да бъдат сгънати, като по този начин вместимостта на багажника се увеличава до 1.550 литра . Големият, тънък 8,3-инчов цветен екран  се отличава с чудесна прегледност и интуитивно управление на функциите.
				</p>
				<p class="justify">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>"Пожелаваме успешен старт на състезателите, победи в състезанията и преди всичко сигурно и надеждно пътуване с новите автомобили Audi" каза бранд мениджъра на Ауди, Лъчезар Георгиев.
				</p>
				<p class="justify">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Ангажиментът на марката със зимните спортове е продължение на обвързаността на Ауди и ски спорта в световен мащаб. Автомобилният концерн подпомага финансово отборите на Китай, Швейцария, Швеция, Франция, Лихтенщайн, Италия, Словения, Словакия, Финландия, Австрия, Норвегия, Холандия и България. Концернът от Инголщат е титулярен спонсор на световното първенство по ски Audi FIS WC от 2002 година, както и официален партньор на Международната федерация по ски.
				</p>

				<div
					id="news2"
					class="carousel slide mb-3 mx-auto d-block"
					data-ride="carousel"
				>
					<!-- Indicators -->
					<ul class="carousel-indicators">
						<li data-target="#news2" data-slide-to="0" class="active"></li>
						<li data-target="#news2" data-slide-to="1"></li>
						<li data-target="#news2" data-slide-to="2"></li>
						<li data-target="#news2" data-slide-to="3"></li>
					</ul>

					<!-- The slideshow -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img
								class="d-block mx-auto"
								src="https://www.audi.bg/media/FullWidthImage_Component/20829_3798-content-564216/dh-1200-33d43f/d8674858/1575015358/audi-a-popov-r-yankov-4865-1.jpg"
								alt="Audi Q2"
							/>
						</div>
						<div class="carousel-item">
							<img
								class="d-block mx-auto"
								src="https://www.audi.bg/media/FullWidthImage_Component/20829_3798-content-564218/dh-1200-33d43f/5acad6d3/1575015699/audi-a-popov-r-yankov-4804-1.jpg"
								alt="Audi Q3"
							/>
						</div>
						<div class="carousel-item">
							<img
								class="d-block mx-auto"
								src="https://www.audi.bg/media/FullWidthImage_Component/20829_3798-content-564222/dh-1200-33d43f/f1786b75/1575015840/audi-a-popov-r-yankov-4851-1.jpg"
								alt="Audi Q5"
							/>
						</div>
						<div class="carousel-item">
							<img
								class="d-block mx-auto"
								src="https://www.audi.bg/media/FullWidthImage_Component/20829_3798-content-564224/dh-1200-33d43f/a504b568/1575016085/audi-vladimirzografski-19-3926-1.jpg"
								alt="Audi Q5"
							/>
						</div>
					</div>

					<!-- Left and right controls -->
					<a class="carousel-control-prev" href="#news2" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#news2" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-1">
			<div class="container" *ngIf="loading">
				<div class="row">
					<div id="loader">
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="loading"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
