<div id="carModel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ul class="carousel-indicators">
		<li data-target="#carModel" data-slide-to="0" class="active"></li>
		<li data-target="#carModel" data-slide-to="1"></li>
		<li data-target="#carModel" data-slide-to="2"></li>
		<li data-target="#carModel" data-slide-to="3"></li>
		<li data-target="#carModel" data-slide-to="4"></li>
	</ul>

	<!-- The slideshow -->
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img
				class="mx-auto d-block"
				src="../../assets/models/q2/1.jpg"
				width="2000px"
				height="563px"
				alt="Audi Q2"
			/>
			<div class="carousel-caption">
				<h4 class="display-2">Audi Q2</h4>
				<h3>Истински характер</h3>
			</div>
		</div>
		<div class="carousel-item">
			<img
				class="mx-auto d-block"
				src="../../assets/models/q3/1.jpg"
				width="2000px"
				height="563px"
				alt="Audi Q3"
			/>
			<div class="carousel-caption">
				<h4 class="display-2">Audi Q3</h4>
				<h3>Талант за всички пътища</h3>
			</div>
		</div>
		<div class="carousel-item">
			<img
				class="mx-auto d-block"
				src="../../assets/models/q5/1.jpg"
				width="2000px"
				height="563px"
				alt="Audi Q5"
			/>
			<div class="carousel-caption">
				<h4 class="display-2">Audi Q5</h4>
				<h3>Вписва се идеално във всеки пейзаж</h3>
			</div>
		</div>
		<div class="carousel-item">
			<img
				class="mx-auto d-block"
				src="../../assets/models/q7/1.jpg"
				width="2000px"
				height="563px"
				alt="Audi Q7"
			/>
			<div class="carousel-caption">
				<h4 class="display-2">Audi Q7</h4>
				<h3>Самоуверен и комфортен</h3>
			</div>
		</div>
		<div class="carousel-item">
			<img
				class="mx-auto d-block"
				src="../../assets/models/rsq8/1.jpg"
				width="2000px"
				height="563px"
				alt="Audi RSQ8"
			/>
			<div class="carousel-caption">
				<h4 class="display-2">Audi RSQ8</h4>
				<h3>Върхово представяне от ново поколение</h3>
			</div>
		</div>
	</div>

	<!-- Left and right controls -->
	<a class="carousel-control-prev" href="#carModel" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#carModel" data-slide="next">
		<span class="carousel-control-next-icon"></span>
	</a>
</div>
<div class="container-fluid mb-5">
	<div class="container-fluid m-2 p-5 border shadow-lg">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs p-1">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#overview"
					>Преглед</a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#technicalData"
					>Технически данни</a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#dimensions">Размери</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#interior">Интериор</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#extras">Оборудване</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#priceList">Ценова Листа</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane container active col-12 border" id="overview">
				<h1 class="display-3 justify-content-center d-flex">
					Истински характер. Новият Audi Q2.
				</h1>
				<h3>
					<small>
						Новият Audi Q2 излиза на сцената - един градски тип, който не се
						свени да покаже своя ръбат и геометричен, напълно нов стил.
						Самоуверен и задвижван от мощни и ефективни TFSI- и TDI-двигатели с
						мощност между 116 и 190 к.с. и като опция със система за постоянно
						задвижване на четирите колела quattro. Оборудването не оставя
						неудовлетворени желания и включва опции, които досега бяха приоритет
						единствено за представители на висшия клас. Ами темата със
						свързаността? Отново последна дума на технологиите - благодарение на
						Audi smartphone interface и най-новите предложения в областта на
						инфо-развлекателните технологии и озвучителните системи.
					</small>
				</h3>
				<br />
				<h1 class="display-4 justify-content-center d-flex">
					Разпознаваем от пръв поглед: Екстериорният дизайн
				</h1>
				<h3>
					<small>
						Дизайнът на предната част се доминира от високо разположената
						решетка Singleframe с осмоъгълна форма. Особено характерен детайл:
						наподобяващата на спортно купе снишаваща се линия на покрива с
						оформени по специфичен начин задни колони с декоративни елементи в
						контрастен цвят.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Гъвкав и индивидуален: Интериорът
				</h1>
				<h3>
					<small>
						Q2 е не просто практичен - с опция за електрическо задвижване на
						задния капак и разделена на три задна седалка с пролука за товарене,
						но и предлага повече възможности за трансформация от своите
						конкуренти. Експресивните цветове за декоративните апликации и
						тапицериите дават богати възможности за индивидуализация.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Винаги свързан: Connectivity възможности
				</h1>
				<h3>
					<small>
						Audi Q2 разполага серийно с голям MMI-монитор. Въртящ и натискащ се
						регулатор с два допълнителни бутона превръща работата със системата
						в удоволствие. Системата MMI Navigation plus с MMI touch и
						WLAN-Hotspot е налична срещу доплащане. С помощта на Audi smartphone
						interface смартфони, работещи на основата на iOS или Android могат
						лесно да бъдат свързани с бордната система в автомобила. Висока
						технология от най-ново поколение пък предлага опционалният Audi
						virtual cockpit: комбинираният прибор под формата на 12,3-инчов
						LCD-екран показва информацията по ефектен и атрактивен начин.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Неподправено удоволствие от шофирането: Задвижване и двигатели
				</h1>
				<h3>
					<small>
						Audi Q2 стъпва на пазара с избор от шест двигателя - както и със
						серийно прогресивно управление, чиято настройка се променя в
						зависимост от моментната скорост на движение. Като опция се
						предлагат адаптивни амортисьори, както и системата Audi drive
						select, с помощта на което може да променяте характера на Вашето Q2
						в зависимост от моментните си нужни и настроение.
					</small>
				</h3>
			</div>
			<div class="tab-pane container fade col-12 border" id="technicalData">
				<h1 class="display-3 justify-content-center d-flex">
					Спортна ефективност: Двигателите на Audi Q2
				</h1>
				<h3>
					<small>
						В Audi Q2 динамиката и ефективността не се изключват помежду си - те
						се допълват. С шест двигателя - три бензинови и три дизелови -
						новият SUV на марката е готов за пазарния си старт. Всички двигатели
						могат да бъдат комбиринани с шестстепенна механична трансмисия или
						предавателна кутия с два съединителя и S tronic със седем степени.
						Освен това четири от задвижващите агрегати могат да бъдат поръчани в
						съчетание със системата за задвижване на четирите колела quattro.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					TFSI-двигателите в Audi Q2.
				</h1>
				<h3>
					<small>
						TFSI-двигателите на Audi работят с висока степен на сгъстяване.
						Резултатът: впечатляваща ефективност при оптимално оползотворяване
						на мощността. С помощта на заменянето на големия работен обем със
						система за принудително пълнене, размерът и теглото на двигателя
						биват намалени, а динамиката остава непроменена. За едно ръзгращане
						на мощността, което ще Ви впечатли още след първите метри. За
						пазарния старт на Q2 на разположение на клиентите ще бъдат следните
						двигатели: особено ефективният трицилиндров 1.0 TFSI (85 кВт/116
						к.с.), 1.4 TFSI (110 кВт/150 к.с.) със система за изключване на част
						от цилиндрите COD (cylinder on demand), както и мощният 2.0 TFSI
						(140 кВт/190 к.с.). За нуждите на последния Audi разработи нов
						горивен процес. Благодарение на него в режим на непълно натоварване
						четирицилиндровият агрегат постига разход като на
						Downsizing-агрегат, докато при пълно натоварване той изцяло се
						възползва от предимствата на големия си работен обем.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					TDI-двигателите в Audi Q2.
				</h1>
				<h3>
					<small>
						Със своята комбинация от директно впръскване на горивото в
						цилиндрите и принудително пълнене с турбокомпресор Audi
						TDI-двигателите се отличават с необикновено добро представяне -
						благодарение на мощната тяга и хармоничното разгръщане на мощността
						в широк работен диапазон. С нисък разход на гориво и редуцирани
						вредни емисии. Но и въодушевяващо динамични - за да извлечете
						максимум удоволствие от всяка отсечка. Ролята на базов вариант сред
						дизеловите мотори играе 1,6-литров агрегат със 85 кВт (116 к.с.)
						мощност. Над него е позициониран бестселърът 2.0 TDI в два варианта
						на мощността - 110 кВт (150 к.с.) и 140 кВт (190 к.с.).
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Открийте света на quattro.
				</h1>
				<h3>
					<small>
						При поръчване на вариантите 2.0 TDI със 140 кВт (190 к.с.) и 2.0
						TFSI системата за постоянно задвижване на четирите колела quattro е
						серийно на борда. Като опция тя се предлага и за версиите 1.4 TFSI
						COD и 2.0 TDI със 110 кВт (150 к.с.) - атрактивна възможност за
						навлизане в света quattro. В нормални условия електронно
						управляваният хидравличен ламелен съединител изпраща почти цялата
						тяга от двигателя към предния мост, а при нужда изпраща част от
						въртящия момент към задните колела - светкавично и гъвкаво. Така
						системата за задвижване на четирите колела Quattro пренася
						удоволствието от шофирането и сигурността на пътя на качествено ново
						равнище. Селективното разпределение на въртящия момент към всяко от
						колелата допълва силното представяне на системата.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Автоматично или ръчно: Изборът е ваш!
				</h1>
				<h3>
					<small>
						За всичи версии на модела Audi предлага шестстепенна механична
						предавателна кутия и трансмисия с два съединителя S tronic със седем
						предавки. S tronic позволява смяната на предавките да се извръшва
						почти без прекъсване на тягата. При двата топдвигателя - 2.0 TDI и
						2.0 TFSI - новоконструираната седемстепенна трансмисия с два
						съединителя е част от стандартното оборудване. Тя се отличава с
						особено ефективна работа, която се дължи на оптимизираната
						циркулация на масло и намаленото вътрешно триене.
					</small>
				</h3>
			</div>
			<div class="tab-pane container fade col-12 border" id="dimensions">
				<h1 class="display-3 justify-content-center d-flex">
					Размери
				</h1>
				<h3 class="display-4 justify-content-center d-flex">
					<small>
						Изглед отстрани
					</small>
				</h3>
				<img
					class="rounded mx-auto d-block p-2"
					src="https://www.audi.bg/media/FullWidthImage_Component/26847-190101/dh-900-33d43f/9fc986f8/1555410827/1.jpg"
				/>
				<h3 class="display-4 justify-content-center d-flex">
					<small>
						Изглед отгоре
					</small>
				</h3>
				<img
					class="rounded mx-auto d-block p-2"
					src="https://www.audi.bg/media/FullWidthImage_Component/26848-190106/dh-900-33d43f/ad9ddead/1555410896/2.jpg"
				/>
				<h3 class="display-4 justify-content-center d-flex">
					<small>
						Изглед отпред и отзад
					</small>
				</h3>
				<img
					class="rounded mx-auto d-block p-2"
					src="https://www.audi.bg/media/FullWidthImage_Component/26849-190110/dh-900-33d43f/e18a2949/1555410919/3.jpg"
				/>
			</div>
			<div class="tab-pane container fade col-12 border" id="interior">
				<h1 class="display-3 justify-content-center d-flex">
					Гъвкав и индивидуален: Интериорът на Audi Q2.
				</h1>
				<h3>
					<small>
						Максимално функционален - и със също толкова ярка индивидуалност,
						колкото и самите Вие: интериорът на Audi Q2 покрива всички основни
						очаквания, отправяни към един SUV - с висока позиция на седене и
						изобилие от вътрешен простор. Изработеният с типичния за Audi
						перфекционизъм интериор предлага неограничени възможности за
						индивидуализация. Интериорът на Q2 предлага изключителна
						функционалност: багажното отделение е с обем 405 литра, а при
						сгънати задни седалки вместимостта му достига 1050 литра -
						достатъчно място за спортна екипировка или солидно количество
						покупки. По желание на клиента задният капак може да бъде с
						електрическо задвижване. Практично решение: пролуката за товарене с
						опция за разделена на три части задна седалка превръща
						транспортирането на ски, сноуборд или сърф в детска игра.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Винаги под око: Audi virtual cockpit и Head-up-дисплей.
				</h1>
				<h3>
					<small>
						Още един ключов акцент в Audi Q2: предлаганият като опция Audi
						virtual cockpit, чийто 12,3-инчов цветен екран осигурява детайлни,
						брилянтно представени графики и предлага избор между два режима на
						работа. В единия режим фокусът е поставен върху скоростомера и
						оборотомера, а в другия - върху навигационната и
						инфо-развлекателната система. Head-up-дисплеят е още една
						технология, заимствана от висшия клас. С негова помощ важни за
						шофирането данни се прожектират върху челното стъкло, директно в
						зрителното поле на водача. На дисплея могат да се изобразяват данни
						за моментната скорост, указания от страна на навигационната система
						или предупреждения от страна на някоя от асистиращите системи.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Индивидуализиране.
				</h1>
				<h3>
					<small>
						Вие имате свой стил. Q2 Ви дава безбройни възможности да го
						подчертаете. Сивото вече е минало - осмелете се да заложите на
						ярките цветове. За декоративните апликации в интериора и за
						контрастните елементи на седалките на Ваше разположение са цветове
						като жълто, оранжево и червено. Декоративните апликации могат да
						бъдат поръчани също така от бяла пластмаса или алуминий. Изборът от
						тапицерии се простира от висококачествени видове текстил до изискана
						естествена кожа Feinnappa. През тъмната част от денонощието
						предлаганият като опция LED-пакет представя интериора в особено
						атрактивна светлина. В топизпълнението LED-ивици осветяват
						декоративните елементи в таблото, както и страничните опори за
						колената на водача и пътника до него. При това може да избирате
						между десет различни цвята за осветяването.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Прогресивно управление.
				</h1>
				<h3>
					<small>
						Прогресивното управление е част от серийното оборудване при всички
						версии на Audi Q2 - при него зъбната рейка е конструирана така, че
						настройката на управлението варира в зависимост от моментната
						скорост на движение. При по-голям ъгъл на завиване кормилното
						управление става по-директно и така прави усещането при шофиране
						по-прецизно и по-интензивно.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Audi drive select.
				</h1>
				<h3>
					<small>
						Предлаганата като опция система Audi drive select разполага с режими
						на работа auto, comfort, dynamic, efficiency и individual,
						променяйки настройките на кормилната уредба и предавателната кутия,
						както и на опционалното окачване с адаптивни амортисьори.
					</small>
				</h3>
			</div>
			<div class="tab-pane container fade col-12 border" id="extras">
				<h1 class="display-3 justify-content-center d-flex">
					Създайте Вашето персонално Audi Q2.
				</h1>
				<h3>
					<small>
						Още повече индивидуалност: богатите възможности за индивидуализация
						с лекота ще превърнат Audi Q2 във Вашето персонално Q2. На Ваше
						разположение са инфо-развлекателни възможности от най-ново
						поколение, както и асистиращи системи, заимствани от висшия клас.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					MMI® Radio.
				</h1>
				<h3>
					<small>
						Серийно във всяко Q2: MMI Radio с 5,8-инчов дисплей на арматурното
						табло, управлявано от въртящ и натискащ се регулатор, разположен
						пред скоростния лост. Част от серийното оборудване е също SDHC-четец
						за карти и 8 пасивни високоговорителя отпред и отзад.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Audi pre sense front.
				</h1>
				<h3>
					<small>
						С помощта на радар Audi pre sense front разпознава своевременно
						опасностите, изникващи внезапно пред автомобила - например появата
						на пешеходец или друго превозно средство. Системата предупреждава
						водача и същевременно се подготвя за автоматично аварийно спиране,
						което при ниска скорост на движение може да бъде и до състояние на
						пълен покой.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Прогресивно управление.
				</h1>
				<h3>
					<small>
						При прогресивното управление зъбната рейка е конструирана така, че
						настройката на управлението варира в зависимост от моментната
						скорост на движение. При по-голям ъгъл на завиване кормилното
						управление става по-директно и така прави усещането при шофиране
						по-прецизно и по-интензивно.
					</small>
				</h3>
				<h1 class="display-4 justify-content-center d-flex">
					Колела, излети от алуминиева сплав.
				</h1>
				<h3>
					<small>
						Серийно при линиите на обзавеждане design и sport се монтират
						атрактивни 17-цолови колела, излети от алуминиева сплав, а с
						предлаганите като опция допълнителни варианти за дизайн на джантите
						Вашето Q2 може да придобие още по-динамичен вид.
					</small>
				</h3>
			</div>
			<div class="tab-pane container fade col-12 border" id="priceList">
				<h1 class="display-3 justify-content-center d-flex">
					Ценова листа.
				</h1>
				<h3>
					<small>
						Вземете решение, когато сте добре информирани. Разгледайте ценовата
						листа в PDF формат.
					</small>
				</h3>
				<h3>
					Свалете ценовата листа
					<a
						href="https://www.audi.bg/media/Kwc_Basic_DownloadTag_Component/26858-190155-126456-190158-126458-190161-307474-downloadTag/default/53ea1eb5/1553774410/pl-q2-28032019-v6.pdf"
						>тук</a
					>
				</h3>
			</div>
		</div>
	</div>
</div>
